<!-- src/app/performance/performance.component.html -->
<div class="header-section" id="buttonContainer">
    <div class="button-group active">
        <div class="dropdown">
            <button class="dropbtn">Configure</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">KPIs</a>
                <a href="#" onclick="showContent('default')">Trackers</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Manager Reviews</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">Manage Reviews</a>
                <a href="#" onclick="showContent('default')">My Reviews</a>
                <a href="#" onclick="showContent('default')">Employee Reviews</a>
            </div>
        </div>
        <button class="dropbtn" onclick="showContent('default')">My trackers</button>
        <button class="dropbtn" onclick="showContent('default')">Employee Trackers</button>
    </div>
</div>
<div class="content-container" id="contentContainer">
    <h3>Performance</h3>
    <p>Default - Yet to be built</p>
</div>
