<!-- src/app/pim/pim.component.html -->
<div class="header-section" id="buttonContainer">
    <div class="button-group active">
        <div class="dropdown">
            <button class="dropbtn">Configuration</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">Optional Fields</a>
                <a href="#" onclick="showContent('default')">Custom Fields</a>
                <a href="#" onclick="showContent('default')">Data Import</a>
                <a href="#" onclick="showContent('default')">Reporting Methods</a>
                <a href="#" onclick="showContent('default')">Termination Reasons</a>
            </div>
        </div>
        <button class="dropbtn" onclick="showContent('default')">Employee List</button>
        <button class="dropbtn" onclick="showContent('default')">Add Employee</button>
        <button class="dropbtn" onclick="showContent('default')">Reports</button>
    </div>
</div>
<div class="content-container" id="contentContainer">
    <h3>PIM</h3>
    <p>Default - Yet to be built</p>
</div>
