<!-- src/app/maintenance/maintenance.component.html -->
<div class="header-section" id="buttonContainer">
    <div class="button-group active">
        <div class="dropdown">
            <button class="dropbtn">Purge Records</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">Employee Records</a>
                <a href="#" onclick="showContent('default')">Candidate Records</a>
            </div>
        </div>
        <button class="dropbtn" onclick="showContent('default')">Access Records</button>
    </div>
</div>
<div class="content-container" id="contentContainer">
    <h3>Maintenance</h3>
    <p>Default - Yet to be built</p>
</div>
