<!-- src/app/claim/claim.component.html -->
<div class="header-section" id="buttonContainer">
    <div class="button-group active">
        <div class="dropdown">
            <button class="dropbtn">Configuration</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">Events</a>
                <a href="#" onclick="showContent('default')">Expense Types</a>
            </div>
        </div>
        <button class="dropbtn" onclick="showContent('default')">Submit Claim</button>
        <button class="dropbtn" onclick="showContent('default')">My Claims</button>
        <button class="dropbtn" onclick="showContent('default')">Employee Claims</button>
        <button class="dropbtn" onclick="showContent('default')">Assign Claim</button>
    </div>
</div>
<div class="content-container" id="contentContainer">
    <h3>Claim</h3>
    <p>Default - Yet to be built</p>
</div>
