<div class="header">
  <div class="header-section">
      Orange_HRM
  </div>
  <div class="header-section" id="buttonContainer">
      <!-- Buttons and dropdowns will be displayed here -->
  </div>
</div>

<div class="sidebar">
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/pim" routerLinkActive="active">PIM</a>
  <a routerLink="/leave" routerLinkActive="active">Leave</a>
  <a routerLink="/time" routerLinkActive="active">Time</a>
  <a routerLink="/recruitment" routerLinkActive="active">Recruitment</a>
  <a routerLink="/my-info" routerLinkActive="active">My Info</a>
  <a routerLink="/performance" routerLinkActive="active">Performance</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/directory" routerLinkActive="active">Directory</a>
  <a routerLink="/maintenance" routerLinkActive="active">Maintenance</a>
  <a routerLink="/claim" routerLinkActive="active">Claim</a>
  <a routerLink="/buzz" routerLinkActive="active">Buzz</a>
</div>

<div class="content-container" id="contentContainer">
  <router-outlet></router-outlet>
</div>
