<!-- src/app/time/time.component.html -->
<div class="header-section" id="buttonContainer">
    <div class="button-group active">
        <div class="dropdown">
            <button class="dropbtn">Time Sheets</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">My Timesheets</a>
                <a href="#" onclick="showContent('default')">Employee Timesheets</a>
                <a href="#" onclick="showContent('default')">Link 4-3</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Attendance</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">My Records</a>
                <a href="#" onclick="showContent('default')">Punch In / Out</a>
                <a href="#" onclick="showContent('default')">Employee Records</a>
                <a href="#" onclick="showContent('default')">Configuration</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Reports</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">Project Reports</a>
                <a href="#" onclick="showContent('default')">Employee Reports</a>
                <a href="#" onclick="showContent('default')">Attendance Summary</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Project Info</button>
            <div class="dropdown-content">
                <a href="#" onclick="showContent('default')">Customers</a>
                <a href="#" onclick="showContent('default')">Projects</a>
            </div>
        </div>
    </div>
</div>
<div class="content-container" id="contentContainer">
    <h3>Time</h3>
    <p>Default - Yet to be built</p>
</div>
